html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .wrapper {
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
  }

.results__songkick {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: red;
}

