:root {
  --accent: #3cc;
  --accent-light: rgb(56, 224, 224);
}
html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  margin: 0;
  background-color: rgb(245, 245, 250);
  font-family: "Nunito", sans-serif;
}

.wrapper {
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 800px;
  background-color: white;
  border-bottom: 3px solid var(--accent);
}

.page-title {
  text-align: center;
}

.section__heading {
  margin-top: 0;
}

/*---------- Inputs and Buttons ----------*/

input[type="text"] {
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 30px;
  outline: none;
  padding: 0 15px;
}

button,
input[type="button"] {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 15px;
  background-color: var(--accent);
  padding: 0 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .125s ease-in-out all;
}

button:active,
input[type="button"]:active,
button:hover,
input[type="button"]:hover  {
  background-color: var(--accent-light);
}

.add-button {
  background-color: orange;
}

.remove-button {
  background-color: rgb(240, 240, 240);
  color: rgb(100,100,100);
}

.wrapper--itinerary > button {
  margin-top: 20px;
}

.hide {
  display: none;
}

/*---------- Header/Footer ----------*/
.header__div {
  margin: auto;
  max-width: 800px;
  text-align: center;
}
.footer__div {
  background: white;
  border-top: 3px solid lightgray;
  margin: auto;
  max-width: 800px;
  text-align: left;
}

/*---------- Killer BEE ----------*/

.footer__div img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  transform: scale(2);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(2); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(2); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(2); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(2); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(2); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(2); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(2); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(2); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(2); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(2); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(2); }
}