:root {
  --accent: lightseagreen;
}
html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  background-color: lightcyan;
  font-family: "Nunito", sans-serif;
}

.wrapper {
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 800px;
  background-color: white;
  border-radius: 3px;
}

.page-title {
  text-align: center;
}

.section__heading {
  margin-top: 0;
}

/*---------- Search Area ----------*/

div[class^="search__"],
div[class^="results__"] {
  margin-bottom: 20px;
  display: none;
}

div[class^="search__"].show,
div[class^="results__"].show {
  display: block;
}

div[class^="search__"] label {
  display: block;
}

fieldset {
  border: none;
}

div[class^="search__"] > div {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.search-heading {
  text-align: center;
  margin: 50px;
  color: var(--accent);
  font-size: 30px;
}

.search-section {
  margin-bottom: 30px;
}

/*---------- Search Area Nav ----------*/

.search-nav ul {
  display: flex;
  list-style: none;
  margin: -20px -20px 20px -20px;
  padding: 0;
}
.search-tab {
  flex: 1;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  transition: .25s ease-in-out all;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.search-tab.active {
  background-color: white;
  color: var(--accent);
}

.search-tab:not(.active):hover {
  background-color: var(--accent);
  color: white;
}



/*---------- Inputs and Buttons ----------*/

input[type="text"] {
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: rgb(248, 248, 248);
  height: 30px;
  outline: none;
  padding: 0 15px;
}

button,
input[type="button"] {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 15px;
  background-color: var(--accent);
  padding: 0 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:active,
input[type="button"]:active {
  background-color: teal;
}

.hide {
  display: none;
}