#forecast {
  background-color: #2e8dad;
  position: fixed;
  text-align: center;
  border: 2px solid gray;
  top: 0px;
  right: 0px;
  font-weight: bold;
  width: 125px;
  padding: 0px;
  margin: 0px;
}
#weatherIcon {
  width: 100%;
}
#weatherTag {
  color: white;
  font-size: 17px;
  margin: 0px;
}
#cityName {
  font-size: 23px;
  margin:0px
}
#currentCondition {
  color: white;
  font-size: 35px;
  margin: 0px;
  line-height: .9;
}
.parkBlock {
  margin: 30px;
  background-color: white;
  text-align: center;
  border: 4px solid;
  border-radius: 15px;
  font-weight: bold;
  padding: 0px;
}
.parkBlock > h1 {
  font-size: 40px;
  margin: 0px;
}
.parkBlock > p {
  font-size: 30px;
  margin: 0px;
  line-height: 28px;
}
.listItem {
  font-size: 20px;
  line-height: 0px;
  display: inline-flex;
  padding: 13px;
}
.featuresName {
  border-top: 2px solid black;
  font-size: 30px;
  margin-top: 5px;
}
.featureItem {
  font-size: 19px;
  display: inline-flex;
  padding: 10px;
  line-height: 0px;
}
#parkRadioContainer {
  text-align: center;
}
.indivBox {
  width: 77px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 7px;
}