/* #welcome{
  width: 400px;
  height: 600px;
  position: relative;
  background-color: purple;
  display: flex;
  flex-direction: column;
  visibility: hidden;
} */

/* .welcomeInformation{
  text-align: center;
  /* vertical-align: middle; */
  /* position: absolute;
  margin: 0 auto;
  top: 50%; */
/* } */

/* .welcomeInformation{
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
} */

/* Popup container */
#welcome {
  position: relative;
  /* display: block; */
  cursor: pointer;
  /* width: 80%; */
  z-index: 1;
}

#welcomePageWrapper{
  width: 80%;
  height: 600px;
  margin: auto;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
}


/* The actual popup (appears on top) */
.welcomeInformation {
  /* visibility: hidden; */
  width: 80%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
}
 .welcomeImage{
  /* width: 100%; */
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
  height: 200px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#welcomeExit{
  position: absolute;
  top: 6px;
  right: 150px;
  z-index: 2;
  font-weight: bold;
}

/* Popup arrow */
/* #welcome .welcomeInformation::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
#welcome .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}